*{
	padding:0px;
	margin:0px;
}

#main{
	height: 637px;
	width: 100%;
	background: linear-gradient(0deg, #197EB2 0%, #D59A33 90%);
	overflow: hidden;
}

#contents{
	width:90%;
	height: 90%;
	background-color: white;
	margin:30px auto;
	border-radius: 2px;
}